
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  font-family: roboto;
  
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-top: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.chart{
  width: 93%;
  margin: auto;
  border-style: solid;
  border-radius: 10px;
  padding: 0.75rem;
  border-color: rgb(190, 190, 252);
  border-width: 2px;
  margin-bottom: 5%;
}
h1{
  font-weight: lighter;
  margin-left: 2%;
}

.Header{
  background-color: rgb(48, 48, 51);
  margin: 0;
  padding: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time{
  right: 0;
  margin-left: 50%;

}

.connection-status{
  margin-left: 3%;
}
.tableWrapper{
  max-height: 40vh;
  overflow-y: scroll;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  padding: 0;
  margin-bottom: 3%;
  

}
.dataTable{

  width: 100%;
}
.dataTable td, .datatable th {
    text-align: center;
    padding: 8px;
}
.tableWrapper::-webkit-scrollbar {
  background-color: #494949;
  width: 10px;
  border-radius: 5px;
}
.tableWrapper::-webkit-scrollbar-thumb {
  background-color: #498299;
  border-radius: 4px;
}

.chartSwitch{
  width: 100%;
  margin-left: 1rem;
}
.chartSwitch ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: left;

  
}
.chartSwitch ul li button{

  background-color: rgb(56, 56, 56);
  color: white;
  border-style: none;

  font-size: 1rem;
  border-style:ridge;
  border-color: rgb(180, 173, 219);
  border-width: 1px;
  padding: 5px;
  width: fit-content;
}
.chartSwitch button:hover{
  background-color: rgb(67, 69, 148);
  cursor: pointer;
}